/* Fonts */
@font-face {
  font-family: 'CMU-Serif';
  src: url(fonts/cmunrm.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CMU-Serif';
  src: url(fonts/cmunbx.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'CMU-Serif';
  src: url(fonts/cmunci.ttf);
  font-style: italic;
  font-weight: normal;
}

/* Text styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'CMU-Serif', 'Times New Roman', Times, serif;
  color: #1A1A1A;
}
h1 {
  font-weight: normal;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
p {
  text-indent: 1.5rem;
  margin-bottom: 1rem;
}
ol, ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {  
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

/* Navigation */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
}
nav div {
  padding: 0.5rem;
}
nav .logo {
  color: #1A1A1A;
  display: flex;
  align-items: center;
}

nav .logo svg {
  margin-right: 2px;
}
nav .navigation {
  display: flex;
  align-items: center;
  z-index: 10;
}
nav .navigation a {
  font-size: 0.9rem;
  padding: 0 0.25rem ;
  text-decoration: none;
  color: #1A1A1A;
}
nav .navigation a:hover {
  text-decoration: underline;
}

/* Switcher button */
nav .navigation a.switcher {
  font-style: italic;
  border: solid 1px #1A1A1A;
  padding: 0.1rem 0.6rem 0.1rem 0.4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
}
nav .navigation a.switcher svg {
  padding: 0 3px 1px 0;
}
nav .navigation a.switcher:hover {
  text-decoration: none;
  background: #1A1A1A;
  border: solid 1px #1A1A1A;
  color: white;
}
nav .navigation a.switcher:hover svg path {
  fill: white;
}

/* Content */
header {
  text-align: center;
  padding: 14rem 0 6rem;
}
header p {
  text-indent: 0;
}
header .italic {
  padding: 0 4rem;
}
.content {
  width: 100vw;
  padding: 1rem;
}
.content div {
  padding: 7rem 0;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */
footer {
  width: 100vw;
  text-align: center;
  padding: 4rem 0;
  font-size: 0.8rem;
}

/* DARK-MODE */
/* General styles */
body.dark { 
  background: #0D0D0D; 
  background-image: url("img/stars.png");
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}
nav.dark { background: none; }
nav.dark .logo { color: white; }
nav.dark .navigation a.switcher { border: solid 1px white; background: #0D0D0D; color: white; }
nav.dark .navigation a.switcher:hover { background: white; color: #0D0D0D; }
nav.dark .navigation a.switcher:hover svg path { fill: #0D0D0D; }

/* Tunnel animation */
.tunnel {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}
.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  border-width: 0.02rem;
  border-style: solid;
  border-color: #f4d8ff;
  /* filter: hue-rotate(calc(120deg * var(--i))); */
  box-shadow: 
    0px 0px 12px 1px rgba(61, 21, 164, 0.4), 
    0px 0px 8px 1px rgba(137, 51, 244, 0.6), 
    0px 0px 4px 0px rgba(212, 111, 237, 0.4), 
    0px 0px 2px 0px rgba(228, 129, 237, 0.4), 
    inset 0px 0px 12px 1px rgba(61, 21, 164, 0.5), 
    inset 0px 0px 8px 1px rgba(137, 51, 244, 0.6), 
    inset 0px 0px 4px 0px rgba(212, 111, 237, 0.4), 
    inset 0px 0px 2px 0px rgba(228, 129, 237, 0.5)
  ;
  transform-style: preserve-3d;
  animation-name: move;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(1s * var(--i) - 14s);
  -webkit-animation-name: move;
  -webkit-animation-duration: 14s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: calc(1s * var(--i) - 14s);
  z-index: calc(var(--i) * -1);
}
@keyframes move {
  0% { transform: perspective(1000px) translateZ(0px) rotate(120deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: perspective(1000px) translateZ(1000px) rotate(-70deg); }
}
@-webkit-keyframes move {
  0% { transform: perspective(1000px) translateZ(0px) rotate(120deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: perspective(1000px) translateZ(1000px) rotate(-70deg); }
}


/* Images */
.frame a {
  height: 1.5rem;
  width: auto;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  display: inline-block;
}
.frame:nth-child(4n+1) a { 
  bottom: 2rem;
  right: 1rem;
  transform: rotate(200deg);
}
.frame:nth-child(4n+2) a { 
  top: 1rem;
  right: 1.5rem;
  transform: rotate(60deg);
}
.frame:nth-child(4n+3) a { 
  top: 2rem;
  left: 1rem;
  transform: rotate(-220deg);
}
/* Portals */
.frame:nth-child(4n+4) a { 
  height: 1rem;
  width: 1rem;
  bottom: 1rem;
  left: 2rem;
  border-radius: 1rem;
  transform: rotate(100deg);
  outline: solid 0.01rem white;
  box-shadow: 
    0px 0px 2px 0px rgba(180, 119, 255, 0.6), 
    0px 0px 1px 1px rgba(241, 184, 255, 0.4)
  ; 
}
.frame a img {
  height: 1.5rem;
  width: auto;
}
.frame:nth-child(4n+4) a img {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
}

/* RESPONSIVE */
/* Desktop */
@media (min-width: 640px){
  .content {
    padding: 0;
    width: 39rem;
    margin: auto;
  }
  .grid {
    width: 100vw;
    height: 100vh;
    margin-left: 0;
  }
}